.settings
*/.settings
.project
.svn
*/.target
*/target
.target
target
.classpath
.idea/
*.iml
m2c.scm.resources/disconf/download/redis.properties.lock
m2c.scm.resources/disconf/download/ddd-cfg.properties
