<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:task="http://www.springframework.org/schema/task"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd"
	default-lazy-init="true">
	<!--Scheduler的配置 -->
	<bean id="orderScheduler"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="comfirmReceiptTriggers"></ref>
			</list>
		</property>
		<property name="autoStartup" value="true"></property>
	</bean>	
	 <!-- Trigger的配置 -->
    <bean id="comfirmReceiptTriggers"
        class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="comfirmReceiptDetail">
        </property>
        <property name="cronExpression">
        
        <!-- 每五分钟执行一次 -->
         <value> 0 */1 * * * ? </value>
        
          <!--  每天凌晨1点执行  
           <value>0 0 1 * * ?</value>-->
         </property>
    </bean>   
    <!-- jobDetail的配置 -->
     <bean id="comfirmReceiptDetail"
        class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="comfirmReceiptJob">
        </property>
        <property name="targetMethod" value="work"></property>
         <!-- <property name="concurrent" value="false" /> -->
        <!-- 是否允许任务并发执行。当值为false时，表示必须等到前一个线程处理完毕后才再启一个新的线程 -->
    </bean>
    <!--业务类的配置-->
    <bean  id="comfirmReceiptJob"  class="cn.m2c.order.port.adapter.quartz.ComfirmReceiptJob"></bean>
    
</beans>